#play button{
  float:inherit;
}
.display{
  display: none;
}
.none{
  background-color: inherit;
}
.text-success{
  color: darkgreen;
}
#card h1{
  color: crimson;
}
mark{
  background-color: lightgreen;
}
